{% extends 'base.html' %}
{% block content %}
  <!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container green-text-container"
    style="background-image: url('./static/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>
                <span id="typed-strings">
                  <span>Hello!</span>
                  <span>I'm SYLVESTER </span>
                  <span>You can also call me masala </span>
                  <span>I am a CS student currently studying at UL </span>
                  <!-- <span>Working as a Freelancer</span> -->
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      type();
      movingBackgroundImage();
    });
  </script>

  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
